<h1>Animals</h1>


  <% @animals.each do |animal| %>

  <div class="animal">
    <h3><a href="/index/animals/<%= animal.id%>"><%= animal.name %></a></h3>
    <p>Type: <%= animal.type %></p>
    <p>Vet: <%= animal.vets.name %>
    </p>
  </div>

  <% end %>
