<!DOCTYPE html>
<html>
<head>
  <title>White Tusk Vets</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main>
      <h1 id="logo">White Tusk Vet Practice</h1>
      <nav id="menu">
        <ul class="navMenu">
          <li ><a id = "animal_color" href="/index/animals">Animals</a></li>
          <li ><a id = "vet_color" href="/index/vets">Vets</a></li>
          <li ><a id = "owner_color" href="/index/owners">Owners</a></li>
        </ul>
      </nav>
      <hr><br>
    <section>
    <%= yield %>
    </section>
    <img src="/white_tusk_pig.gif">
  </main>
</body>
</html>
