<h3>Vets</h3>

<div class="indexData">
    <% @vets.each do |vet| %>


      <h4><span id = "name"><%= vet.name %></span></h4>

      <p>Animals: <%vet.animals.each do |animal| %>
          <a href="/index/animals/<%= animal.id%>"><%= animal.name %></a><br>
          <% end %></p>
      <% no_of_animals = [] %>
      <p>Number of animals: <%vet.animals.each do |animal| %>
        <% no_of_animals.push(animal) %>
        <% end %>
        <%= no_of_animals.size %></p>
</div>

    <% end %>
