<h1>Vets</h1>


    <% @vets.each do |vet| %>

    <div class="vet">
      <h3><%= vet.name %></h3>
      <p>Animals:<br> <%vet.animals.each do |animal| %>
          <a href="/index/animals/<%= animal.id%>"><%= animal.name %></a>
                  <br>
                  <% end %>

      </p>


    </div>

    <% end %>
