<h2>Update treatment details</h2>
<form method="POST" action="/index/notes/<%= @note.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="details">Notes:</label>
      <input type="text" name="details" id="details" style="height:100px;width:200px;" value="<%= @note.details %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Update details"/>
    </div>

  </div>
</form>
<p>
<% @note.animals.each do |animal|  %>
<a href="/index/animals/<%= animal.id%>">
  <% end %>
</p>
