<h2>Update treatment details</h2>
<form method="POST" action="/index/notes/<%= @note.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="details">Notes:</label>
      <input type="text" name="details" id="details" value="<%= @note.details %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Update details"/>
    </div>

  </div>
</form>
